@font-face {
   font-family: 'Base 02';
   font-display: swap;
   src: url('file:///C:/Users/Alejandro%20Bracho/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-08-10_141946/fonts/Base%2002/font.ttf');
}
